@import "@stylesheets/variables.scss";

footer {
  background-color: $primary-color;
  padding: 20px 24px 15px;

  .container-fluid {
    max-width: 1080px;
  }

  hr {
    color: white;
  }

  .service-list:first-child{
    margin: 0;
    border-top: none;
  }

  h6 {
    font-size: 17px;
    font-weight: 600;
  }

  h6, p, small {
    color: white;
  }

  a {
    font-size: 15px;
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}