<%= javascript_packs_with_chunks_tag "adminServiceList" %>
<%= stylesheet_packs_with_chunks_tag "adminServiceList" %>

<% content_for :head do %>
  <title>Servicios - Light Rodeo's Rent</title>
  <meta name="description" content="Explore and search through all available services."/>
<% end %>