<%= javascript_packs_with_chunks_tag "adminTags" %>
<%= stylesheet_packs_with_chunks_tag "adminTags" %>

<% content_for :head do %>
  <title>Categorias - Light Rodeo's Rent</title>
  <meta name="description" content="Add any service tag for even more personalization."/>
<% end %>