<%= javascript_packs_with_chunks_tag "adminService" %>
<%= stylesheet_packs_with_chunks_tag "adminService" %>

<div id="params" data-params="<%= @data %>"></div>

<% content_for :head do %>
  <title>Servicio - Light Rodeo's Rent</title>
  <meta name="description" content="Edit service information to your liking!"/>
<% end %>