<%= javascript_packs_with_chunks_tag "admin" %>
<%= stylesheet_packs_with_chunks_tag "admin" %>

<% content_for :head do %>
  <title>Administración - Light Rodeo's Rent</title>
  <meta name="description" content="An Admin page that allows for Amazing Personalization."/>
<% end %>