<%= javascript_packs_with_chunks_tag "adminHomepage" %>
<%= stylesheet_packs_with_chunks_tag "adminHomepage" %>

<% content_for :head do %>
  <title>Editar Pagina Principal - Light Rodeo's Rent</title>
  <meta name="description" content="Easily edit and personalize what images appear on the front page!"/>
<% end %>