<%= javascript_packs_with_chunks_tag "contact" %>
<%= stylesheet_packs_with_chunks_tag "contact" %>

<% content_for :head do %>
  <title>Contact Us | Light Rodeo's Rent</title>
  <meta name="description" content="Reach us by email or phone for amazing rentals!"/>
<% end %>