<%= javascript_packs_with_chunks_tag "contact" %>
<%= stylesheet_packs_with_chunks_tag "contact" %>

<% content_for :head do %>
  <title>Contact Us | Light Rodeo's Rent</title>
  <meta name="description" content="Get in touch with us for all your party rental needs. We are here to help with any questions or bookings. Contact us today!"/>
<% end %>