<%= javascript_packs_with_chunks_tag "login" %>
<%= stylesheet_packs_with_chunks_tag "login" %>


<% content_for :head do %>
  <title><%="Ingresar | Light Rodeo's Rent"%></title>
  <meta name="description" content="Access Light Rodeo's Rent's Admin Page!"/>
<% end %>