<%= javascript_packs_with_chunks_tag "service" %>
<%= stylesheet_packs_with_chunks_tag "service" %>

<div id="params" data-params="<%= @data %>"></div>


<% content_for :head do %>
  <title><%="Service | Light Rodeo's Rent"%></title>
  <meta name="description" content="Party rental in Arizona offering inflatables, mechanical bulls, homemade tacos, tables, chairs, heaters, and more for unforgettable events.!"/>
<% end %>