<%= javascript_packs_with_chunks_tag "serviceFilter" %>
<%= stylesheet_packs_with_chunks_tag "serviceFilter" %>

<div id="params" data-params="<%= @data %>"></div>


<% content_for :head do %>
  <title><%="Service List | Light Rodeo's Rent"%></title>
  <meta name="description" content="Explore our wide range of party rentals, from inflatables and mechanical bulls to homemade tacos, tables, chairs, and heaters for your next event."/>
<% end %>