.scrollableRow {
  overflow-x: scroll;
}

.service-image {
  padding-top: calc(2 / 3 * 100%);
  background-size: cover;
  background-position: center;
}



#admin_service {
  .service-tab {
    box-shadow: rgba(100, 100, 111, 0.2) 7px 0px 29px 7px;
    border-radius: 10px 10px 0px 0px;
    a {
      color: black;
      text-decoration: none;
    }
  }

  .active-tab {
    background-color: black;
    a {
      color: white;
    }
  }
}