#admin_service {
  .scrollableRow {
    overflow-x: scroll;
  }
  
.service-tab {
    box-shadow: rgba(100, 100, 111, 0.2) 7px 0px 29px 7px;
    border-radius: 10px 10px 0px 0px;
    a {
      color: black;
      text-decoration: none;
    }
  }

  .active-tab {
    background-color: black;
    a {
      color: white;
    }
  }
}