@import "@stylesheets/variables.scss";

#home {
  nav {
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .carousel-container {
    padding: 0 0;
    z-index: 0;
  }

  .slogan-container {
    background-color: $primary-color;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .service-widget {
    form {
      background-color: white;
      font-weight: 500;
    }
  }

  .schedule-widget-button-container {
    .btn-warning {
      transition: scale 100ms ease-in-out;

      &:hover,
      &:focus-visible {
        scale: 1.03;
      }
    }
  }

  .service-list { 
    background-color: $thirtiary-color;
  }

  .service {
    transition: outline 100ms ease-in-out;
    background-color: white;
    
    a {
      text-decoration: none;
      color: inherit;

      .service-image {
        transition: scale 100ms ease-in-out;
      }
    }

    header {
      padding: 5px;
    }

    &:hover,
    &:focus-visible {
      scale: 1.03;
      outline: auto;
    }
  }

  @media (max-width: 991.9px) {
    .phone-number-container {
      position: absolute;
      right: 24px;
      top: 40%;
    }

    .phone-number {
      font-size: 30px;
    }
  }

  @media (min-width: 992px) {
    .service-widget {
      position: absolute;
      right: 24px;
      top: 40%;

      form {
        padding: 32px;
        margin-left: auto;
        box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
        max-width: 400px;
      }
    }
  }
}