@import "@stylesheets/variables.scss";

#contact {
    #homeNavbar {
      position: static;
    }

    .contact-widget {
      background-color: $solid-dark-color;
    }

    .form {
      background-color: $solid-light-color;
    }
}