@import "@stylesheets/variables.scss";

#service {
  .service-widget {
    background-color: $solid-light-color;
  }

  .service-description {
    font-size: 17px;
  }

  .carousel-section {
    min-height: 00px !important;
  }
}