@import "@stylesheets/variables.scss";

#homeNavbar {
  background-color: $transparent-color;
  position: absolute;
  width: 100%;
  z-index: 1;

  .navbar-brand {
    &:hover {
      opacity: 0.8;
    }
  }

  span {
    font-size: 15px;
  }

  .logo {
    display: inline-block;
    height: 50px;
  }

  .nav-link,
  .dropdown-item {
    color: $nav-text !important;
  }

  .dropdown-menu {
    background-color: transparent;
    border: transparent;
  }

  .dropdown-item {
    &:hover,
    &:focus-visible {
      background-color: transparent !important;
    }
  }

  .nav-link:hover,
  .nav-link:focus-visible,
  .dropdown-item:hover,
  .dropdown-item:focus-visible {
    outline: auto;
  }

  .phone-number a {
    transition: scale 100ms ease-in-out;

    &:hover,
    &:focus-visible {
      scale: 1.03;
    }
  }

  @media (min-width: 371px) {
    .navbar-brand span {
      font-size: 22px;
    }
  }

  @media (max-width: 991.9px) {
    .navbar-toggler {
      color: $nav-text;
      transition: scale 100ms ease-in-out, color 500ms ease-in-out;

      &:hover,
      &:focus-visible {
        background-color: rgba(256, 256, 256, 0.8);
        color: black;
        scale: 1.03;
      }
    }

    hr {
      border-top: solid $solid-light-color 2px;
    }
  }

  @media (min-width: 992px) {
    .navbar-brand {
      img {
        height: 100px;
      }

      span {
        font-size: 30px;
      }
    }

    .phone-number {
      margin-top: -45px;
    }

    .dropdown-horizontal {
      position: static !important;
    }

    .dropdown-menu {
      background-color: $transparent-color;
      max-height: 200px;
      
    }

    .dropdown-menu[data-bs-popper] {
      margin-top: 0;
    }

    .dropdown-menu-expanded {
      width: 100%;
      text-align: center;
      border-radius: 0;
      white-space: nowrap;
    }

    .dropdown-menu-container {
      white-space: nowrap;
      max-width: 70%;
      overflow-x: scroll;

      > li {
        display: inline-block;
      }

      /* width */
      &::-webkit-scrollbar {
        margin-top: 10px;
        width: 7px;
        height: 7px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: $solid-dark-color;
        border-radius: 10px;
      }
    
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $solid-light-color;
        border-radius: 10px;
      }
    
      /* Handle on hover */
      /*&::-webkit-scrollbar-thumb:hover {
        background: #555;
      }*/
    }

    .nav-dropdown-image {
      width: 200px;
      aspect-ratio: 3 / 2;
    }
  }
}


#homeFooter {
  background-color: $transparent-color;
  padding: 20px 24px 15px;

  .container-fluid {
    max-width: 1080px;
  }

  hr {
    color: $nav-text;
  }

  .service-list:first-child {
    margin: 0;
    border-top: none;
  }

  h6, p, small {
    color: $nav-text
  }

  a {
    font-size: 15px;
    color: $nav-text;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  
  .language-dropdown {
    max-width: 10px;
  }
}