#admin_service_list {
  @media (max-width: 768px) {
    #new-service-button {
      position: fixed;
      bottom: 20px;
      right: 20px;
      border-radius: 50px;
      z-index: 2;
    }
  }

  tbody tr {
    cursor: pointer;
  }
}