@import "bootstrap";

@import "@stylesheets/variables.scss";

.container-fluid {
  max-width: 1920px;
}

.heading-text {
  color: black;
  font-family: $brand-font;
}

.text-outline {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.aspect-ratio {
  padding-top: calc(2 / 3 * 100%);
  background-size: cover;
  background-position: center;
}

.layout-image {
  background-size: cover;
  background-position: 50% 70%;
  background-repeat: no-repeat;
}

nav {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.carousel-container {
  padding: 0 0;
  z-index: 0;
}

.skip-content {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);

  &:focus-visible {
    top: 0;
    left: 0;
    border: 1px solid black;
    background-color: white;
    padding: 0.5rem;
    width: auto;
    height: auto;
    margin: 0;
    clip: unset;
    text-decoration: none;
    color: black;
    z-index: 100;
  }
}
