//Imports
@import 'https://fonts.googleapis.com/css2?family=Rye&display=swap';

//Colors
$primary-color: #000000AD;
$secondary-color: #139b18;
$thirtiary-color: #cccccc;

//Fonts
$brand-font: "Rye", serif;