//Imports
@import 'https://fonts.googleapis.com/css2?family=Rye&display=swap';

//Colors

//Scooby Doo Theme
$transparent-color: rgba(60, 48, 120, 0.7);
$solid-light-color: #85b8f5;
$solid-dark-color: #34495E;
$button-color: #FF2F2F;
$button-hover-color: #c32525;
$button-text-color: #FFFFFF;
$button-text-hover-color: #FFFFFF;
$nav-text: #FFFFFF;
$heading-text: #FFFC39;
$outline-color: rgb(17, 17, 17);

//Lavendar
/*$transparent-color: rgba(181, 126, 220, 0.6);
$solid-light-color: #E6D5FF;
$solid-dark-color: #9B6ED7;
$button-color: #FF87C0;
$button-hover-color: #FF4E98;
$button-text-color: #FFFFFF;
$button-text-hover-color: #FFFFFF;
$nav-text: #FFFFFF;
$heading-text: black;
$outline-color: lightgray;*/

//Ocean Theme
/*$transparent-color: rgba(0, 179, 226, 0.8);
$solid-light-color: #AEE1F4;
$solid-dark-color: #8A2BE2;
$button-color: #FFEB3B;
$button-hover-color: #FF6F20;
$button-text-color: #FFFFFF;
$button-text-hover-color: #FFFFFF;
$nav-text: #FFFFFF;
$heading-text: #FFEB3B;
$outline-color: #4B0082;*/

//Fonts
$brand-font: "Rye", serif;